.text-center {
  text-align: center;
}

.small {
  font-size: .8rem;
}

.text-secondary {
  color: #A3A5A1;
}

.font-weight-bold {
  font-weight: bold;
}

.animate__evenFaster {
  animation-duration: 200ms;
}