.calculator-history {
  .history-items {
    max-height: calc(#{$calculator-height} - 45.2px);
    overflow-y: auto;
    overflow-x: hidden;
    padding: .25rem .75rem;
    
    .history-item {
      white-space: nowrap;
      margin-bottom: 1rem;

      &:first-child {
        margin-top: .5rem;
      }

      .operation,
      .result {
        color: $primary;
        padding: .25rem .55rem;
        border-radius: .15rem;
        border: 1px solid darken($light-grey, 5%);

        &:hover {
          cursor: pointer;
          color: darken($primary, 10%);
        }
      }

      .equals {
        font-size: 1.2rem;
        margin: 0 .6rem;
      }
    }
  }

  .history-back {
    position: absolute;
    top: 0;
    left: 0;
    color: $white;
    padding: .6rem;

    &:hover {
      cursor: pointer;
    }
  }
  
  .history-title {
    font-weight: bold;
    background-color: $primary;
    color: $white;
    padding: .6rem .4rem
  }
}
